@using Microsoft.AspNetCore.Components.Authorization
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
        

    
    
    <HeadOutlet />
</head>

<body>
    <Routes />
    <!-- Blazor Scripts -->
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <!-- Custom Scripts -->
    <script src="js/Dowload.js"></script>

  


    
</body>

</html>

